* {
  font-family: 'Roboto', sans-serif;
}

.btn-primary:hover {
  color: white;
  background-color: cornflowerblue;
  border-color: darkblue;
  border-radius: .5rem;
}

.btn-danger:hover {
  color: darkred;
  background-color: lightcoral;
  border-color: darkred;
  font-weight: bold;
}

.btn-danger {
  margin-left: 17%;
  border-radius: .5rem;
}

.text-center {
  color: black;
  font-weight: bold;
}

.card-title {
  font-weight: bold;
}