* {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images7.alphacoders.com/888/888979.jpg);
    background-size: cover;
    height: 200px;
}

.titulo, .subtitulo {
    color: white;
}

